{% extends "base.html" %}
{% block title %}Все объявления{% endblock %}

{% block content %}
    <h4 class="widget-title">Фильтры поиска</h4>
	<ul>
		<form method="GET">
             {{ filter.form }}
             <input class="btn-dark" type="submit" value="Найти">
        </form>
	</ul>
    <h1>Все объявления</h1>
        {% for post in filter.qs %}
                <div class="blog-item">
                    <div class="blog-text text-box text-white">
                        <h3><a class='read-more' href="{{ post.get_absolute_url }}">{{ post.title }}</a></h3>
                        <p>{{ post.body }}</p>
                        <br>
                    </div>
                </div>
        {% endfor %}
        {% include 'paginator.html' %}
{% endblock %}