{% extends "base.html" %}
{% block title %}{{ post.title }}{% endblock %}
{% block content %}
    <h3>{{ post.title }}</h3>
    <p>Цена - {{ post.price }}</p>
    <p>Тип жилья - {{ post.type_of_housing }}</p>
    <p>Количество комнат - {{ post.number_of_rooms }}</p>
    <p>{{ post.body }}</p>
    <button class="btn-dark"><a href="{% url 'post_update' post.slug %}">Редактировать</a></button>
    <button class="btn-dark"><a href="{% url 'post_delete' post.slug %}">Удалить</a></button>

{% endblock %}